<?php
/**
 * @copyright ©2014 Quicken Loans Inc. All rights reserved. Trade Secret,
 *    Confidential and Proprietary. Any dissemination outside of Quicken Loans
 *    is strictly prohibited.
 */

namespace {{ application.namespace }}\Controller;

use QL\Panthor\ControllerInterface;
use Slim\Environment;
use Slim\Http\Request;
use Slim\Http\Response;

class TestController implements ControllerInterface
{
    /**
     * @type Environment
     */
    private $environment;

    /**
     * @type Request
     */
    private $request;

    /**
     * @type Response
     */
    private $response;

    /**
     * @param Environment $environment
     * @param Request $request
     * @param Response $response
     */
    public function __construct(Environment $environment, Request $request, Response $response)
    {
        $this->environment = $environment;
        $this->request = $request;
        $this->response = $response;
    }

    /**
     * @return null
     */
    public function __invoke()
    {
        $output = <<<OUTPUT
Hello World!

OUTPUT;

        $output .= "\nEnvironment Variables:\n";
        foreach ($this->environment as $name => $value) {
            if (!is_scalar($value)) continue;
            $output .= sprintf("%s: %s\n", $name, $value);
        }

        $output .= "\nRequest Headers:\n";
        foreach ($this->request->headers->all() as $name => $value) {
            $output .= sprintf("%s: %s\n", $name, $value);
        }

        $this->response->headers['Content-Type'] = 'text/plain';
        $this->response->setBody($output);
    }
}
