<?php
/**
 * @copyright ©2014 Quicken Loans Inc. All rights reserved. Trade Secret,
 *    Confidential and Proprietary. Any dissemination outside of Quicken Loans
 *    is strictly prohibited.
 */

namespace {{ application.namespace }}\Controller;

use Mockery;
use PHPUnit_Framework_TestCase;
use QL\Panthor\Testing\FixtureLoadingTrait;
use Slim\Environment;
use Slim\Http\Request;
use {{ application.namespace }}\Testing\TestResponse;

class TestControllerTest extends PHPUnit_Framework_TestCase
{
    use FixtureLoadingTrait;

    public $environment;
    public $request;
    public $response;

    public function setUp()
    {
        $this->environment = Environment::mock([
            'HTTP_TEST_HEADER' => 'Testing'
        ]);
        $this->request = new Request($this->environment);
        $this->response = new TestResponse;
    }

    public function test()
    {
        $controller = new TestController($this->environment, $this->request, $this->response);
        $controller();

        $expectedResponse = $this->loadRawFixture('response.txt');
        $expectedHeaders = $this->loadPhpFixture('headers.phpd');

        $this->assertSame($expectedResponse, (string) $this->response);
        $this->assertSame($expectedHeaders, $this->response->headers->all());
    }
}
